﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 800px;
            height: 224px;
        }
        .auto-style2
        {
            height: 200px;
        }
        .auto-style3
        {
            width: 187px;
            height: 224px;
        }
        .auto-style8
        {
            width: 167px;
            height: 50px;
        }
        .auto-style9
        {
            width: 1000px;
            height: 200px;
        }
    </style>
</head>
<body style="height: 770px" bgcolor="fff"  background="images/background.jpg">
    <form id="form1" runat="server">
    <table style="height: 564px" border="0" align="center">
        <tr>
            <td class="auto-style2" colspan="2">
                <img alt="" class="auto-style9" src="images/banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style3">
                <table border="0">
                        <td class="auto-style8">
                            <asp:Button ID="Button1" runat="server" Height="50px" Text="ANASAYFA" Width="190px" OnClick="Button1_Click" />
                        </td>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button2" runat="server" Height="50px" Text="ONLİNE RANDEVU" Width="190px" OnClick="Button2_Click" />
                        </td></tr>
                    <tr><td class="auto-style8"></td</tr>
                        <asp:Button ID="Button3" runat="server" Height="50px" Text="ÜRÜNLER" Width="190px" OnClick="Button3_Click" />
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button4" runat="server" Height="50px" Text="HAKKIMIZDA" Width="190px" OnClick="Button4_Click" />
                        </td></tr>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button5" runat="server" Height="50px" Text="İLETİŞİM" Width="190px" OnClick="Button5_Click" />
                        </td></tr>
                                    
                </table>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </td>
            <td class="auto-style1">ANASAYFA</td>
        </tr>
        

    </table>
    </form>
</body>
</html>
