﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="hakkimizda.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 800px;
            height: 224px;
        }
        .auto-style2
        {
            height: 200px;
        }
        .auto-style3
        {
            width: 187px;
            height: 224px;
        }
        .auto-style8
        {
            width: 167px;
            height: 50px;
        }
        .auto-style9
        {
            width: 1000px;
            height: 200px;
        }
        .auto-style10
        {
            width: 100%;
            height: 196px;
        }
 p.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	}
span.auto-style171
	{color:#FF6600;
        }
        .auto-style12
        {
            color: #CCCC00;
        }
        .auto-style13
        {
            color: #CCCC00;
            font-size: large;
        }
        .auto-style14
        {
            font-size: large;
        }
    </style>
</head>
<body style="height: 770px" background="images/background.jpg">>
    <form id="form1" runat="server">
    <table style="height: 564px" border="0" align="center">
        <tr>
            <td class="auto-style2" colspan="2">
                <img alt="" class="auto-style9" src="images/banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style3">
                <table border="0">
                        <td class="auto-style8">
                            <asp:Button ID="Button1" runat="server" Height="50px" Text="ANASAYFA" Width="190px" OnClick="Button1_Click" />
                        </td>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button2" runat="server" Height="50px" Text="ONLİNE RANDEVU" Width="190px" OnClick="Button2_Click" />
                        </td></tr>
                    <tr><td class="auto-style8"></td</tr>
                        <asp:Button ID="Button3" runat="server" Height="50px" Text="ÜRÜNLER" Width="190px" OnClick="Button3_Click" />
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button4" runat="server" Height="50px" Text="HAKKIMIZDA" Width="190px" OnClick="Button4_Click" />
                        </td></tr>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button5" runat="server" Height="50px" Text="İLETİŞİM" Width="190px" OnClick="Button5_Click" />
                        </td></tr>
                                    
                </table>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </td>
            <td class="auto-style1">
                <table class="auto-style10">
                    <tr>
                        <td>
                            <p class="MsoNormal">
                                <span class="auto-style171" style="color: #CCCC00; font-size: large"><strong>
                                VİZYONUMUZ </strong></span><span class="auto-style121">
                                <span class="auto-style12" style="font-size:18.0pt;line-height:115%">;</span></span><br 
                                    class="auto-style12" />
                                <br class="auto-style12" />
                                <span class="auto-style12">B</span><span class="auto-style171" 
                                    style="color: #CCCC00"><span style="sans-serif;orphans: auto;text-align:
start;widows: auto;-webkit-text-stroke-width: 0px;float:none;word-spacing:0px"><strong>iz, Müşteri Odaklı, 
                                Güvenilir, Yenilikçi, Sorumlu ve Özveriliyiz. Gücümüz, Dayanışma ve Takım 
                                Ruhumuzdur. Site Group, kalitenin varılması gereken bir hedeften ziyade, devamlı 
                                gelişme ve süreklilik göstermesi gereken bir süreç olduğu inancındadır. Bu 
                                çerçevede müşteri memnuniyetine, çalışanlarının çalışma süreçlerinin ve de 
                                ekipmanlarının gelişimine sürekli yatırım yapmaya devam etmektedir.</strong></span></span><br 
                                    class="auto-style12" />
                                <span class="auto-style12">
                                <br />
                                <strong>
                                <span class="auto-style14" style="font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi">MİSYONUMUZ</span></strong></span><strong><span class="auto-style13" 
                                    style="line-height: 115%; font-family: &quot;Calibri&quot;,&quot;sans-serif&quot;; mso-ascii-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-theme-font: minor-bidi;"> 
                                ;</span></strong><span class="auto-style12"><br />
                                <br />
                                </span><span style="color:#FF6600"><span class="auto-style171" 
                                    style="color: #CCCC00"><strong>Hijyenik,konforlu ve güvenilir ortamlarda, 
                                bilinçli kalitli ve güler yüzlü çağdaş eğitimli ve yeniliğe açık bir ekip&nbsp; 
                                kişiye özel ( her müşteriye özeldir ). son moda trendlerini ve teknolojilerini 
                                takip eden gelişen teknolojiden faydalanarak intragtif iletişim sağlayan bir&nbsp; 
                                hizmet sunmak.</strong></span></span></p>
                            <p class="MsoNormal">
                                &nbsp;</p>
                            <p class="MsoNormal">
                                &nbsp;</p>
                            <p class="MsoNormal">
                                &nbsp;</p>
                            <p class="MsoNormal">
                                &nbsp;</p>
                            <p class="MsoNormal">
                                &nbsp;</p>
                            <p class="MsoNormal">
                                &nbsp;</p>
                            <p class="MsoNormal">
                                &nbsp;</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        

    </table>
    </form>
</body>
</html>
