﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="randevu.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 800px;
            height: 224px;
        }
        .auto-style2
        {
            height: 200px;
        }
        .auto-style3
        {
            width: 187px;
            height: 224px;
        }
        .auto-style8
        {
            width: 250px;
            height: 50px;
        }
        .auto-style9
        {
            width: 1000px;
            height: 200px;
        }
        .auto-style10
        {
            width: 81%;
        }
        .auto-style11
        {
        }
        .auto-style12
        {
            width: 222px;
        }
        .auto-style13
        {
            width: 193px;
        }
    </style>
</head>
<body style="height: 100%" align="center" background="images/background.jpg">
    <form id="form1" runat="server">
    <table style="height: 564px" border="0" align="center">
        <tr>
            <td class="auto-style2" colspan="2">
                <img alt="" class="auto-style9" src="images/banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style3">
                <table border="0">
                        <td class="auto-style8">
                            <asp:Button ID="Button1" runat="server" Height="50px" Text="ANASAYFA" Width="190px" OnClick="Button1_Click" />
                        </td>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button2" runat="server" Height="50px" Text="ONLİNE RANDEVU" Width="190px" OnClick="Button2_Click" />
                        </td></tr>
                    <tr><td class="auto-style8"></td</tr>
                        <asp:Button ID="Button3" runat="server" Height="50px" Text="ÜRÜNLER" Width="190px" OnClick="Button3_Click" />
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button4" runat="server" Height="50px" Text="HAKKIMIZDA" Width="190px" OnClick="Button4_Click" />
                        </td></tr>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button5" runat="server" Height="50px" Text="İLETİŞİM" Width="190px" OnClick="Button5_Click" />
                        </td></tr>
                                    
                </table>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </td>
            <td class="auto-style1">
                <table class="auto-style10" align="center">
                    <tr>
                        <td class="auto-style13" align="center">Adınız Soyadınız:</td>
                        <td class="auto-style12">
                            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style13" align="center">Randevu Tarihiniz:</td>
                        <td class="auto-style12">
                            <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style13" align="center">Randevu Saati:</td>
                        <td class="auto-style12">
                            <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">Cep Telefon Numaranız:</td>
                        <td class="auto-style12">
                            <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">E-mail Adresiniz:</td>
                        <td class="auto-style12">
                            <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">İstediğiniz Servis Hizmeti</td>
                        <td class="auto-style12">
                            &nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kuaför Seçiniz </td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">
                            <asp:CheckBox ID="CheckBox1" runat="server" />
                        </td>
                        <td class="auto-style12">Kesim</td>
                        <td>
                            <asp:DropDownList ID="DropDownList1" runat="server" Height="20px" OnSelectedIndexChanged="DropDownList1_SelectedIndexChanged" Width="210px">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">
                            <asp:CheckBox ID="CheckBox2" runat="server" />
                        </td>
                        <td class="auto-style12">Boya</td>
                        <td>
                            <asp:DropDownList ID="DropDownList2" runat="server" Height="20px" Width="210px">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style13" align="center">
                            <asp:CheckBox ID="CheckBox3" runat="server" />
                        </td>
                        <td class="auto-style12">Fön</td>
                        <td>
                            <asp:DropDownList ID="DropDownList3" runat="server" Height="20px" Width="210px">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">
                            <asp:CheckBox ID="CheckBox4" runat="server" />
                        </td>
                        <td class="auto-style12">Röfle</td>
                        <td>
                            <asp:DropDownList ID="DropDownList4" runat="server" Height="20px" Width="209px">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">
                            <asp:CheckBox ID="CheckBox5" runat="server" />
                        </td>
                        <td class="auto-style12">Kaş-Bıyık</td>
                        <td>
                            <asp:DropDownList ID="DropDownList5" runat="server" Height="20px" Width="210px">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">
                            <asp:CheckBox ID="CheckBox6" runat="server" />
                        </td>
                        <td class="auto-style12">Profesyonel Makyaj</td>
                        <td>
                            <asp:DropDownList ID="DropDownList6" runat="server" Height="20px" Width="210px">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style13"align="center">
                            <asp:CheckBox ID="CheckBox7" runat="server" />
                        </td>
                        <td class="auto-style12">Gelin Başı</td>
                        <td>
                            <asp:DropDownList ID="DropDownList7" runat="server" Height="20px" Width="210px">
                            </asp:DropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style11" colspan="2" align="center">
                            <asp:Button ID="Button6" runat="server" Text="Randevu Al" Width="146px" />
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        

    </table>
    </form>
</body>
</html>
