﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="urunler.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 800px;
            height: 224px;
        }
        .auto-style2
        {
            height: 200px;
        }
        .auto-style3
        {
            width: 187px;
            height: 224px;
        }
        .auto-style8
        {
            width: 167px;
            height: 50px;
        }
        .auto-style9
        {
            width: 1000px;
            height: 200px;
        }
        .auto-style10
        {
            width: 100%;
            float: right;
        }
        .auto-style12
        {
            height: 23px;
        }
        .auto-style13
        {
            width: 364px;
            height: 138px;
        }
        .auto-style14
        {
            width: 315px;
            height: 133px;
            margin-left: 49px;
        }
        .auto-style15
        {
            width: 363px;
            height: 147px;
        }
        .auto-style16
        {
            width: 330px;
            height: 137px;
            margin-left: 55px;
        }
        .auto-style17
        {
            width: 373px;
            height: 112px;
        }
        .auto-style18
        {
            width: 306px;
            height: 114px;
            margin-left: 58px;
            margin-top: 3px;
        }
        .auto-style19
        {
            width: 384px;
            height: 133px;
            margin-left: 193px;
        }
    </style>
</head>
<body style="height: 770px; width: 617px;"  background="images/background.jpg">
    <form id="form1" runat="server">
    <table style="height: 564px" border="0" align="center">
        <tr>
            <td class="auto-style2" colspan="2">
                <img alt="" class="auto-style9" src="images/banner.jpg" /></td>
        </tr>
        <tr>
            <td class="auto-style3">
                <table border="0">
                        <td class="auto-style8">
                            <asp:Button ID="Button1" runat="server" Height="50px" Text="ANASAYFA" Width="190px" OnClick="Button1_Click1" />
                        </td>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button2" runat="server" Height="50px" Text="ONLİNE RANDEVU" Width="190px" OnClick="Button2_Click" />
                        </td></tr>
                    <tr><td class="auto-style8"></td</tr>
                        <asp:Button ID="Button3" runat="server" Height="50px" Text="ÜRÜNLER" Width="190px" OnClick="Button3_Click" />
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button4" runat="server" Height="50px" Text="HAKKIMIZDA" Width="190px" OnClick="Button4_Click" />
                        </td></tr>
                    <tr><td class="auto-style8">
                        <asp:Button ID="Button5" runat="server" Height="50px" Text="İLETİŞİM" Width="190px" OnClick="Button5_Click" />
                        </td></tr>
                                    
                </table>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </td>
            <td class="auto-style1">ÜRÜNLER<table class="auto-style10">
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br />
                        <img alt="avon" class="auto-style13" src="images/avon.jpg" /><img alt="cecile" class="auto-style14" src="images/cecile.jpg" /></td>
                </tr>
                <tr>
                    <td class="auto-style12">
                        <br />
                        <img alt="flormar" class="auto-style15" src="images/flormar.jpg" /><img alt="loreal" class="auto-style16" src="images/loreal.jpg" /></td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <img alt="maybeli" class="auto-style17" src="images/maybelline.jpg" /><img alt="oriflame" class="auto-style18" src="images/oriflame.jpg" /></td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <img alt="vichy" class="auto-style19" src="images/vıchy.jpg" /></td>
                </tr>
                </table>
            </td>
        </tr>
        

    </table>
    </form>
</body>
</html>
